{% extends 'listings/gabarit.html' %}

{% block title %}
    <title>Détail du produit</title>
{% endblock %}

{% block content %}
    <h2>{{ title.title }}</h2>
    <ul>
        <li>Description : {{ title.description }}</li>
        <li>Année : {{ title.year }}</li>
    </ul>
    <p>Vendu : {{ title.sold | yesno}}</p>
    <br>
    <a href="{% url 'listing_update' title.id %}">modifier le produit</a>
    <a href="{% url 'listing-delete' title.id %}">Supprimer le produit</a>
    <a href="{% url 'merchandise_list' %}">Retour à la liste des produits</a>
{% endblock %}