{% extends 'listings/gabarit.html' %}

    {% block title %}
        <title>Listings</title>
    {% endblock %}

    {% block content %}
        <h1>Liste des titres (gabarit)</h1>
            <ul>
                {% for title in titles %}
                    <li><a href="{% url 'merchandise_detail' title.id %}">{{title.title|upper}}</a>
                        ({{title.band}})
                        <a href="{% url 'listing_update' title.id %}">[Modifier]</a>
                    </li>
                {% endfor %}
                <a href="{% url 'band-create' %}">Créer un nouveau produit</a>
            </ul>
    {% endblock %}